frr version 8.5.6
frr defaults traditional
hostname frr-proxy
log syslog notifications
!
router bgp 65002
 bgp router-id {{ node_address }}
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 no bgp network import-check
 neighbor metal-lb peer-group
 neighbor metal-lb remote-as 65001
 {% for host_number in range(kube_control_nodes|length) %}
 neighbor {{ kube_control_nodes[host_number].ansible_host }} peer-group metal-lb
 {% endfor %}
 {% for host_number in range(kube_worker_nodes|length) %}
 neighbor {{ kube_worker_nodes[host_number].ansible_host }} peer-group metal-lb
 {% endfor %}

 !
 address-family ipv4 unicast
  neighbor metal-lb activate
  {% for host_number in range(kube_control_nodes|length) %}
  neighbor {{ kube_control_nodes[host_number].ansible_host }} next-hop-self
  {% endfor %}
  {% for host_number in range(kube_worker_nodes|length) %}
  neighbor {{ kube_worker_nodes[host_number].ansible_host }} next-hop-self
  {% endfor %}

  neighbor {{ ipaddress }} 
 exit-address-family
exit
!
!
end
