{%- set proxy_name = hostvars[inventory_hostname]["groups"]["k8proxy"][0] -%}
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: stable
apiServer:
  certSANs:
  - '{{ proxy_name}}'
controlPlaneEndpoint: "{{ proxy_name }}:6443"
